table{
  width: 90%;
  box-shadow:10px 13px 13px #333;
}
td{
  padding:1%;
}
tr:nth-child(even){
  background:#fff;
}


.main{
  display: flex;
  flex-direction:row;
  justify-content:center;
}
.child1{
  background-color:orange;
  width: 30%;
  border: 1px solid #333;
  border-radius:55px;
  box-shadow:10px 13px 13px #7586;
  padding:2%;
  margin:2%;
}

.child2{
    background-color:cyan;
  width: 70%;
  border: 1px solid #333;
  border-radius:55px;
  box-shadow:10px 13px 13px #7587;
  padding:2%;
  margin:2%;
  }
  img{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    text-align: center;
  }
  @media only screen and (min-width:320px) and (max-width:480px){
  .main{
    display: flex;
    flex-direction:column;
    justify-content:center;
  }
  .child1{
    width:100%;
    border:1px solid #333;
    border-radius:55px;
    box-shadow:10px 13px 13px #7586;
    padding:2%;
    margin:2%;
  }
  .child2{
    width:100%;
    border: 1px solid #333;
    border-radius:55px;
    box-shadow:10px 13px 13px #7587;
    padding:2%;
    margin:2%;
    }
  a{
     font-size:40px;
     text-decoration:none;
   }
  }
@media only screen and (min-width:481px) and (max-width:768px){
  a{
     font-size:40px;
     text-decoration:none;
   }
.main{
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.child1{
  width:100%;
  border:1px solid #333;
  border-radius:55px;
  box-shadow:10px 13px 13px #7586;
  padding:2%;
  margin:2%;
}
.child2{
  width:100%;
  border: 1px solid #333;
  border-radius:55px;
  box-shadow:10px 13px 13px #7587;
  padding:2%;
  margin:2%;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  *{
     font-size:40px;
     text-decoration:none;
   }
.main{
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.child1{
  width:100%;
  border:1px solid #333;
  border-radius:55px;
  box-shadow:10px 13px 13px #7586;
  padding:2%;
  margin:2%;
}
.child2{
  width:100%;
  border: 1px solid #333;
  border-radius:55px;
  box-shadow:10px 13px 13px #7587;
  padding:2%;
  margin:2%;
  }
}
